h1{
  font-family:Helvetica,sans-serif;
}
h2{
 
  font-family:Helvetica,sans-serif;
  
      }
h3{
 
    font-family:Helvetica,sans-serif;
        
 }
 h4{
 
 font-family:Helvetica,sans-serif;  
  }

.num-grids{
  display:grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  grid-template-rows:1fr;
  
}
.foot-grids{
  display:grid;
grid-template-columns:repeat(3,1fr);
grid-template-rows:1fr;
}

.spliit{
  display:grid;
  grid-template-rows:1fr 2fr;
}
.birdsplit{
display:grid;
grid-template-rows:1fr 3fr;
grid-template-columns:1fr 1fr;
}

.grid-about{
  display:grid;
  grid-template-columns:1fr 1fr;
}
.grid-abt-left{
  display:grid;
  grid-template-rows:1fr 3fr 1fr 8fr;
}
.grid-abt-right{
  display:grid;
  grid-template-rows:1fr 8fr 1fr 3fr;
}

.flex-container{
  display:flex;
  flex-direction: row;
}

.num-flex{
  display:flex;
  flex-direction: row;
  justify-content:center; 
  margin-bottom:45px;
}

.flex-child{
  flex:1;
}

#canvas{
  margin-left:40px;
}
#right{
  display:flex;
  flex-direction: column;
}
#titlee{
  margin-left:150px;
}
 #caption{
  width:400px;
  justify-content: left;
 }

 #button{
  transition-property:transform;
  transition-duration:0.3s;

}
#button:hover {   
transform: scale(1.2);

} 